<div class="container">
    <hr/>
    <h2>About</h2>
    <div>
        <hr />
        <dl class="dl-horizontal"></dl>
        <div class="col-md-12">
            <p class="text-xs-center">
                Nested in the heart of sunny Varna is the Ivo's family brewery home to the Ivo's famous dark beer. Founded by Ivo Ivanov under the scorching Bulgarian sun in one hot July
                day in the summer of 2019 this brewery has kept the locals heart burning with desire for more with it's cold and spicy favor.
            </p>
        </div>
    </div>
</div>

